@font-face {
  font-family: myRoboto;
  src: url("../src/components/layout/fonts/myRoboto");
  /* src:url("https://fonts.googleapis.com/css?family=Roboto"); */
}
@font-face {
  font-family: Quantico;
  src: url("../src/components/layout/fonts/Quantico");
  /* src:url("https://fonts.googleapis.com/css?family=Roboto"); */
}

*{
  box-sizing: border-box;
  margin: 0;
padding:0;
font-family: Quantico
}

html{
  height: 100%;
  background-image: url("./teamwork2.jpeg");
  background-repeat: no-repeat;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a{
  color:#333;
  text-decoration: none;
}

.container{
  padding: 0 1rem;
}

button{
  cursor: pointer;
}

button:focus{
outline: 0;
}
a.nav_link:hover{
  box-shadow: '#fff 0px -9px 0px -3px inset' ;
  cursor: pointer;
  color: #ffa600;
}

.nav_link{
    font-size: x-large;
    margin: 0px 40px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 13px;
}
.authToggle{
 background: transparent; 
 border: none; 
 float: right; 
 height: 44px;
 color: #fff ;
 font-size: x-large ;
 font-weight: bold; 
 cursor: pointer;
}
.authToggle:hover{
  color: #ffa600;
}
.socialSignupButton{
  height: 50px;
  width: 50px;
  margin-right: 15px;
  border-radius: 5px;
  background-color: #ffffff57;
  cursor: pointer;
}
.socialSignupButton:hover{
 background-color: #ffa6006e;
}
